body {
    background-color:#454545;
}

hr {
    background-color: #454545;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 15px;
    width: 10%;
}

h1{
    color: #FF6000;
}

h3{
    color: #FFA559;
}

dt{
    color: #FFE6C7;
}

li{
    color: #FFE6C7;
}

td{
    color: #FFE6C7;
}

/* Changing hyperlink displays */
a:link{ /* link that has not yet been visited will appear with h1 color */
    color: #FF6000;
}
a:visited{ /* If the link has already been visited then it will apear as the same color as the text */
    color: #FFE6C7;
}
a:hover{ /* if the user is hovering over the link it will change to a different color to allow the user to easily identify that it is a hyperlink */
    color: aqua;
}

